<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOST</key>
	<string>http://newsapi.org/v2/top-headlines?sources=techcrunch&amp;apiKey=</string>
	<key>API_KEY</key>
	<string>c2dc28e08dac4fc2ad7eb8b22b1854f4</string>
</dict>
</plist>
